/*foglio di stile*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-color: rgb(142, 88, 67);
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 17px;
}

h1,h2,h3,h4{
    background-color: black;
    color: lightseagreen;
}

a{
    color: blueviolet;
    text-decoration: none;
}

a:hover{
    color: azure;
    text-decoration: overline;
}




