/*foglio di stile*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-color: rgb(252, 139, 94);
    font-family: 'HalyardDis_ISIAU Bk', Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: flex;
}

h1,h2,h3,h4{
    color: lightseagreen;
}

a{
    /*short hand, abbreviazione di più righe di codice, meno righe=sito veloce*/
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:visited{
    color: black;
}

div{
    background-color: antiquewhite;
}




